div{
    background-color: rgb(255, 209, 125);
}

button{
    height: 20px;
    margin-left: 5px;
    margin-top: 15px;
    background-color: lightcyan ;
}

img{
    height: 50px;
    margin-right: 200px;
}