#footer-div{
    background-color: rgba(99, 185, 242, 0.974);
    text-align: center;
    display:flex;
    justify-content: center;
}

#footer-p{
    color: black;
    font-weight: bold;
    margin-right: 20px;
}